<div class="container px-4 px-lg-5 mt-5"style="background-image: url(/assets/mslogo.jpg); background-size: contain;background-repeat: no-repeat;">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5">
    <p class="fade-in-text" >
    You can specify background images<br>
    for any visible HTML element.<br>
    In this example, the background image<br>
    is specified for a p element.<br>
    By default, the background-image<br>
    will repeat itself in the direction(s)<br>
    where it is smaller than the element<br>
    where it is specified. Try resizing the<br>
    browser window to see how the<br>
    background image behaves.
    </p>
    </div>

</div>
</div>