<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" routerLink="/home">MS Art Gallery</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/home">Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/ideias">Ask me</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/aboutme">About me</a></li>

              <li class="nav-item"><a class="nav-link" routerLink="/create">Create</a></li>
          </ul>
          <form class="d-flex">
            
            <span class="btn btn-outline-dark" type="submit" (click)="logout()"> {{loginValue}} </span>
              
              <span class="btn btn-outline-dark" type="submit" (click)="toggleCart()">
                  <i class="bi-cart-fill me-1"></i>
                  Cart
                  <span class="badge bg-dark text-white ms-1 rounded-pill">{{CartSize}}</span>
                  <span class="badge bg-dark text-white ms-1 rounded-pill">{{total | currency:'EUR'}}</span>
              </span>
          </form>
      </div>
  </div>
</nav>

<div class="sidecart bg-dark text-center">
  
  <ul class="nav flex-column">
    <div class="text-light h4 m-0 px-4 text-center">
      Carrinho 
      <div class="d-inline" (click)="toggleCart()" ><i class="fa fa-close" style="font-size:48px;color:red"></i></div>
    </div>
    <li class="nav-link d-flex flex-wrap flex-row"  *ngFor="let product of products; let i  = index">
      <div class="col-12 text-light h5 text-center p-0">{{product?.name}}</div>
      <div class="col-4 p-0">
        <img class="img-fluid" [src]="productImageList[i]" alt="">
      </div>
      <div class="col-2 bg-primary text-light justify-content-around d-flex flex-column">
        <i class="fas fa-plus"></i>
        <i class="fas fa-minus"></i>
      </div>
      <div class="sidecart-price pl-0 col-6 bg-primary text-right d-flex flex-wrap text-light">
        <div class="text-right text-dark d-flex flex-row justify-content-end align-items-center h6 m-0 p-0" (click)="removeFromCart(product)">Remover <span class="h5 ml-2 m-0 p-0 "><b>X</b></span></div>
        <div class=""><span class="text-dark"></span> <span class="product-price-total">{{product.price | currency:'EUR'}}</span></div>
      </div>
    </li>
  </ul>
  <div class="text-light h5 text-left mx-3">Valor Final: <span class="text-success" id="sidecart-total">{{total | currency:'EUR'}}</span></div>
  <div class="p-2">
    <button type="button" class="btn btn-success w-100" (click)="checkout()">Finalizar Compra</button>
  </div>
</div>